//colors
$c--outrageous-orange:#F25420;
$c-catalina-blue:#273A60;
$c-maire:#1E1E1D;
$c-karaka:#2C2C2B;
$c-heavy-metal:#3D3D3C;
$c-storm-dust:#686867;
$c-jumbo:#90908F;
$c-celeste:#D2D2D1;
$c-sugar-cane:#EEEEED;
$c-ivory:#F4F4F3;

//fonts
$basic-family: 'husqvarna', 'Arial', 'Helvetica', sans-serif;
