.header{
 &__brand{
   display: flex;
   justify-content: flex-end;
 }
  &__logo{
    width: 100px;
    height: auto;
    object-fit: cover;
  }
  &__content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item:first-child{
    width: 60%;
  }
  &__item:last-child{
    width: 40%;
    position: relative;
  }
  &__announce{
    font-family: $basic-family;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color:$c-heavy-metal;
    letter-spacing: 1.3px;
  }
  &__title{
    font-family: $basic-family;
    font-size: 68px;
    line-height: 75px;
    color:$c-heavy-metal;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__description{
    font-family: $basic-family;
    font-size: 42px;
    line-height: 56px;
    font-weight: 400;
    color:$c-storm-dust;
  }
  &__img{
    width: 641px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 11/6;
    margin-left: -130px;
    overflow: hidden;
  }
}