.hero {
  &__content {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 100%), url('../img/tree.jpg') 50% 37% /cover;
    z-index: 3;


  }

  &__item {
    padding-top: 281px;
    padding-left: 20px;
    margin-bottom: 45px;

  }

  &__title {
    color: #ffffff;
    font-family: $basic-family;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 14px;
  }

  &__description {
    color: #ffffff;
    font-family: $basic-family;
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 22px;
    text-align: left;
  }

  &__btn {
    background-color: $c--outrageous-orange;
    font-family: $basic-family;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 1.05px;
    text-transform: capitalize;
    padding: 18px;
    border: none;
    border-radius: 20px;
  }
}

.cut {
  padding-top: 85px;
  background-color: $c-ivory;

  &__title {
    font-family: $basic-family;
    font-size: 68px;
    line-height: 75px;
    font-weight: 700;
    color: $c-heavy-metal;
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }

  &__item {
    padding: 49px 22px 35px 22px;
    background-color: #ffffff;
    box-shadow: 2px 2px 1px #0000000D;
    border-radius: 24px;
  }

  &__img {
    display: block;
    margin: 0 auto 37px auto;
  }

  &__name {
    font-family: $basic-family;
    font-size: 26px;
    line-height: 34px;
    font-weight: 700;
    color: $c-heavy-metal;
    margin-bottom: 11px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
  }

  &__list {
    list-style-type: none;
  }

  &__stat {
    color: $c-storm-dust;
    font-family: $basic-family;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
  }

  &__circle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 9px;
  }

  &__element {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $c--outrageous-orange;
  }

  .not-fill {
    background-color: #ffffff;
    border: 1px solid #D2D2D1;
  }
  &__list-show{
    margin-left:10px;
    list-style-type: none ;
    max-width: 340px;
    transition: all .3ms ease;
    margin-bottom: 20px;
  }

  &__var{
    color: $c-storm-dust;
    font-family: $basic-family;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    margin-bottom: 5px;
    padding-right: 10px;
  }
  &__var:last-child{
    margin-bottom: unset;
  }
  &__var:before{
    position: absolute;
    content: '-';
    left: -10px;
    top: 0;
    color:$c-storm-dust;
    display: flex;
    align-items: flex-start;
  }
  &__btn{
    text-decoration: underline;
    font-family: $basic-family;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color:$c-storm-dust

  }
  .is-active{
    display: block;
  }

}
